{% extends "base.html.twig" %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}AppBundle:create:vote{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <h1>Créer un vote</h1>
        <div class="container" >
            <div class="col-lg-6 col-lg-offset-3 text-center" style="font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; font-weight:400;">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}