# To get started with security, check out the documentation:
# https://symfony.com/doc/current/security.html
security:

    # https://symfony.com/doc/current/security.html#b-configuring-how-users-are-loaded
    providers:
        in_memory:
            memory:
                users:
                    Admin:
                        password: 123456
                        roles: 'ROLE_BASIC'

        db_provider:
            entity:
                class: AppBundle:Client
                property: username

    encoders:
            AppBundle\Entity\Client:
                algorithm: bcrypt

            Symfony\Component\Security\Core\User\User:
                algorithm: bcrypt
                cost: 15

    firewalls:
        # disables authentication for assets and the profiler, adapt it according to your needs
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            anonymous: ~
            # activate different ways to authenticate

            # https://symfony.com/doc/current/security.html#a-configuring-how-your-users-will-authenticate
            #http_basic: ~

            # https://symfony.com/doc/current/security/form_login_setup.html
            #form_login: ~
            form_login:
                login_path: login

            logout:
                path: /logout
                target: /login
                invalidate_session: true

            provider: db_provider




