{% extends "base.html.twig" %}

{% block title %}AppBundle:user:userlist{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container" style="margin-top: 20px">
        {% for client in clients %}
            <a href="{{ path('one_user_info',{'uid':client.id}) }}">
                <div>
                    <h2>User : {{ client.pseudo }}</h2>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
